<html>

<head>
    <title>NFT Marketplace</title>
    <meta charset="UTF-8">
    <meta name="description"
        content="This field contains information about your page. It is usually around two sentences long.">.
    <meta name="author" content="Conor Sheils">
</head>

<body>
    <span class="text-red-400 font-bold"> test </span>
</body>

</html>